.notanimated {
    position: relative;
    margin-top: 2.5rem;
    max-width: 600px;
}

.projects {
    position: relative;
    animation: show 1s ease-in;
}

@keyframes show {
      0% {
        opacity: 0
    }
      100%  {
        opacity: 1
    }
  }

  #intro {
    animation: show 1s ease-in;
  }