.notanimated {
    position: relative;
    margin-top: 2.5rem;
    max-width: 600px;
    min-width: 350px;

}

.projects {
    position: relative;
    animation: show 1s ease-in;
}



@media screen and (min-width: 1280px) {
  #grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 50%;
    min-width: 800px;
    }

  #thirdgrid {
    grid-column: span 2;
    grid-row: 3 / 4;
    justify-self: center;
  }
  
}


@keyframes show {
      0% {
        opacity: 0
    }
      100%  {
        opacity: 1
    }
  }

  #intro {
    animation: show 2s ease-in;
  }