@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "SabonBold";
    src: local("Sabon_Bold"),
    url('../fonts/Sabon_Bold.ttf')
    format("truetype");
}

@font-face {
    font-family: "Recoleta Black";
    src: local("Recoleta-Black"),
    url('../fonts/Recoleta-Black.ttf')
    format("truetype");
}

@font-face {
    font-family: "Recoleta Light";
    src: local("Recoleta-Light"),
    url('../fonts/Recoleta-Light.ttf')
    format("truetype");
}

@font-face {
    font-family: "Recoleta Bold";
    src: local("Recoleta-Bold"),
    url('../fonts/Recoleta-Bold.ttf')
    format("truetype");
}

@font-face {
    font-family: "Recoleta Medium";
    src: local("Recoleta-Medium"),
    url('../fonts/Recoleta-Medium.ttf')
    format("truetype");
}

@font-face {
    font-family: "Recoleta Regular";
    src: local("Recoleta-Regular"),
    url('../fonts/Recoleta-Regular.ttf')
    format("truetype");
}




@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-outline {
        -webkit-text-stroke: .5px white;
    }
}


html,
body,
#__next {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 300px;
}

#__next {
    overflow: auto;
}

