.showing {
    position: relative;
    width: 66.666667%;
    height: 12rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    justify-content: space-around;
}

.showing:nth-child(1) {
    --tw-bg-opacity: 1;
    background-color: rgb(147 197 253 / var(--tw-bg-opacity));
    border-top-left-radius: 0.5rem/* 8px */;
    border-top-right-radius: 0.5rem/* 8px */;

}

.showing:nth-child(2) {
    --tw-bg-opacity: 1;
    background-color: rgb(96 165 250 / var(--tw-bg-opacity));
}

.showing:nth-child(3) {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.showing:nth-child(4) {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.showing:nth-child(5) {
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity));
    border-bottom-right-radius: 0.5rem/* 8px */;
    border-bottom-left-radius: 0.5rem/* 8px */;
}



.skillsLeft {
    position: relative;
    animation: enter 1s ease-in;
}

.skillsRight {
    position: relative;
    animation: enterLeft 1s ease-in;
}

@keyframes enterLeft {
    0% {
        transform: translateX(50%);
        opacity: 0;
        
    }
}

@keyframes enter {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
}

.ticker {
    width: 100%;
}